@model NavLinkModel

<div @@click="mobileMenuOpen = false">
    <a asp-controller="@Model.Controller"
       asp-action="@Model.Action"
       class="@(Model.IsButton
            ? "block w-full px-4 py-2 mt-2 text-blue-400 hover:bg-blue-600 hover:text-white rounded-lg transition-all duration-200 border border-blue-500"
            : "block w-full px-4 py-2 text-gray-300 hover:bg-blue-600 hover:text-white rounded-lg transition-all duration-200 border border-blue-500/20")
            @Model.CustomClass">
        @if (!string.IsNullOrEmpty(Model.IconClass))
        {
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block mr-2">
                <path stroke-linecap="round" stroke-linejoin="round" d="@Model.IconClass" />
            </svg>
        }
        @Model.Text
    </a>
</div>